.Project .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 138px;
    flex-wrap: wrap;

    margin-top: 100px;
}

.contentInfo{
    width: 100%;
    max-width: 643px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

}

.contentInfo h2{
    font-size: 45px;
    color: #fff;

}


.boxCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.cardProject{
    width: 165px;
    height: 142px;
    background: #fff;
    border-radius: 12px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.cardProject:hover{
    width: 170px;
    height: 150px;
}

.cardProject p{
    color: #000;
}